* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
    font-size: 15px;
    color: #000;
    background-color: #f6f6f6;
    -webkit-user-select: none;
}

li {
    list-style: none;
}
i,em {
    font-style: normal;
}
.station-list ul {
    padding-top: 20px;
}
.station {
    margin-bottom: 14px;
    padding: 0 15px;
    height: 110px;
    border-bottom: 1px solid #dedede;
    border-top: 1px solid #dedede;
    background: #fff;
}
.station-info {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 70px;
    border-bottom: 1px solid #efefef;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .station {
        border-bottom: 0.5px solid #dedede;
        border-top: 0.5px solid #dedede;
    }
    .station-info {
        border-bottom: 0.5px solid #efefef;
    }
}
.station-info .station-name {
    margin-bottom: 4px;
    color: #333;
}
.station-info .station-rating {
    color: #ff7147;
}
.station-info .station-rating .star {
    font-size: 13px;
}
.station-info .station-rating .rating {
    margin-left: 4px;
    font-size: 13px;
}
.station-address {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    height: 40px;
    overflow: hidden;
}
.station-address .icon-place {
    font-size: 14px;
    color: #15b374;
}
.station-address .address {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    margin-left: 10px;
    height: 100%;
    font-size: 14px;
    color: #a4a4a4;
}