* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
    font-size: 15px;
    color: #333;
    background-color: #fff;
    -webkit-user-select: none;
}
li {
    list-style: none;
}
i {
    font-style: normal;
}
.avatar-container {
    height: 140px;
    background: url("../images/bg2.png");
    background-size: cover;
}
.avatar-container .avatar {
    float: left;
    width: 90px;
    padding: 22px 15px 0 15px;
}
.avatar-container .user-info {
    float: left;
    padding-top: 30px;
}
.avatar-container .nick-name {
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
}
.avatar-container .tel-number {
    margin-top: 8px;
    color: #fefefe;
    height: 20px;
    line-height: 20px;
}
.avatar-container .score-money {
    margin-top: 8px;
    font-size: 0;
}
.avatar-container .score-money p {
    display: inline-block;
    background: #fff;
    padding: 0 8px;
    font-size: 14px;
    height: 26px;
    line-height: 26px;
    border-radius: 8px;
    border: 1px solid #d6d7dc;
    margin-right: 10px;
    color: #555;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
    .avatar-container .score-money p {
        border: 0.5px solid #d6d7dc;
    }
}
.jihuo-huiyuan {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    padding: 5px 15px;
}
.jihuo-btn {
    width: 80%;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    background: #19c017;
    font-size: 18px;
    color: #fff;
    text-align: center;
}
.user-info-wrapper {
    display: none;
}
.user-info .jihuo-text {
    color: #333;
}
.level-container {
    height: 70px;
    padding: 5px 15px;
    display: none;
}
.level-container .text {
    height: 30px;
    line-height: 30px;
    font-weight: 600;
    font-size: 14px;
}
.level-container .score-level {
    font-size: 13px;
}
.level-container .score-level .level-con {
    float: left;
    margin-right: 15px;
}
.level-container .score-level .level-con .level {
    font-weight: 700;
    font-size: 14px;
    color: #ff9800;
}
.level-container .score-level .score-con {
    float: left;
}
.level-container .score-level .score-con .score {
    color: #aaa;
    font-size: 14px;
    font-weight:700;
}
.level-container .score-level .current-score {
    color: #ff9800;
}
.level-container .score-level .next-score {
    color: #c2183b;
}
.item-container {
    height: 59px;
    border-top: 1px solid #d6d7dc;
    border-bottom: 1px solid #d6d7dc;
    overflow: hidden;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
    .item-container {
        border-top: 0.5px solid #d6d7dc;
        border-bottom: 0.5px solid #d6d7dc;
    }
}
.item-container .item {
    float: left;
    width: 33.3%;
    height: 59px;
    line-height: 59px;
    box-sizing: border-box;
    text-align: center;
    font-size: 16px;
}
.item-container .item i {
    font-size: 20px;
    margin-right: 5px;
}
.item-container .item.youhuiquan {
    width: 33.4%;
    border-left: 1px solid #d6d7dc;
    border-right: 1px solid #d6d7dc;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
    .item-container .item.youhuiquan {
        border-left: 0.5px solid #d6d7dc;
        border-right: 0.5px solid #d6d7dc;
    }
}

.bottom-container {
    margin-top: 20px;
    border-top: 1px solid #d6d7dc;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
    .bottom-container {
        border-top: 0.5px solid #d6d7dc;
    }
}
.bot {
    height: 48px;
    border-bottom: 1px solid #d6d7dc;
    padding: 0 15px;
    overflow: hidden;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
    .bot {
        border-bottom: 0.5px solid #d6d7dc;
    }
}
.bot .name {
    float: left;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
}
.bot .right {
    float: right;
    height: 48px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.bot .right-desc {
    margin-right: 8px;
    color: #2dc82c;
}
.bot .right-desc1 {
    margin-right: 8px;
    color: #333;
}
.bot .right-desc1 .count,
.bot .right-desc1 .money {
    color: #2dc82c;
}
.bot .right-arrow {
    -webkit-transform: scale(0.6,1.6);
    transform: scale(0.6,1.6);
    color: #9c9c9c;
}