* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
    font-size: 15px;
    color: #333;
    background-color: #fbf9fe;
    -webkit-user-select: none;
}
body,html {
    height: 100%;
}
li {
    list-style: none;
}
i,em {
    font-style: normal;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.record-info {
    padding: 10px 15px;
}
.record-info .top {
    margin-bottom: 10px;
    height: 40px;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
}
.record-count-con {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    width: 48%;
    background: #fff;
    border: 1px solid #dfdfe0;
}
.record-count-con em {
    color: #888;
}
.record-count-con span {
    color: #444;
}
.record-count-con span i {
    color: #19c017;
}
.total-money-con {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 10px;
    width: 48%;
    background: #fff;
    border: 1px solid #dfdfe0;
}
.total-money-con em {
    color: #888;
}
.total-money-con span {
    color: #19c017;
}
.save-money-con {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    height: 40px;
    background: #fff;
    border: 1px solid #dfdfe0;
}
.save-money-con em {
    color: #888;
}
.save-money-con span {
    color: #f00;
}
.empty-wrapper {
    padding: 0 25px;
    height: 40px;
    line-height: 40px;
    color: #444;
    border-top: 1px solid #dfdfe0;
    border-bottom: 1px solid #dfdfe0;
    display: none;
}
.item {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 70px;
    background: #fff;
    border-bottom: 1px solid #dfdfe0;
}
.item:first-child {
    border-top: 1px solid #dfdfe0;
}
.item .lf {
    flex: 1;
}
.item .lf .station-name {
    margin-bottom: 4px;
    font-size: 14px;
    color: #444;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media screen and (max-width: 420px){
    .item .lf .station-name {
        width: 280px;
    }
}
@media screen and (max-width: 380px){
    .item .lf .station-name {
        width: 240px;
    }
}
@media screen and (max-width: 360px){
    .item .lf .station-name {
        width: 220px;
    }
}
@media screen and (max-width: 320px){
    .item .lf .station-name {
        width: 180px;
    }
}
.item .lf .time-con {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}
.item .time-con .sale {
    margin-right: 10px;
    font-size: 15px;
    color: #333;
}
.item .time-con .time {
    font-size: 12px;
    color: #838383;
}
.item .rg {
    -webkit-flex: 0 0 90px;
    flex: 0 0 90px;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.item .rg em {
    font-size: 13px;
    color: #838383;
}
.item .rg span {
    font-size: 16px;
    color: #439057;
}
