* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
}
body {
    position: relative;
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif;
    font-size: 14px;
    color: #333;
    background-color: #efeff4;
    -webkit-user-select: none;
}
body,html {
    height: 100%;
}
li {
    list-style: none;
}
i,em {
    font-style: normal;
}
input,button {
    outline-style: none;
}
.content {
    background: #fff;
}
.content .title {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    margin: 0 20px;
    height: 55px;
    color: #838383;
    font-size: 13px;
    font-weight: 600;
    border-bottom: 1px solid #d6d7dc;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
    .content .title {
        border-bottom: 0.5px solid #d6d7dc;
    }
}
.item {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    padding: 0 20px;
}
.item .name {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    margin-right: 30px;
    height: 48px;
    font-size: 14px;
    color: #bdbdbd;
}
.item .con {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    height: 48px;
    font-size: 14px;
    color: #4d4c4c;
}
.item .con1 {
    -webkit-flex: 1;
    flex: 1;
    font-size: 14px;
    line-height: 20px;
    padding: 6px 0 4px 0;
    color: #4d4c4c;
    overflow: hidden;
    max-lines: 2;
}
.oil-name em {
    margin-left: 20px;
    width: 50px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border: 1px solid #dfdfe0;
    border-radius: 5px;
    background: #00A2FF;
}
.goods-con em {
    margin-left: 20px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    border: 1px solid #dfdfe0;
    border-radius: 5px;
    background: #19c017;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
    .oil-name em {
        border: 0.5px solid #dfdfe0;
    }
}
.btn {
    margin: 40px 20px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    color: #fff;
    background: #19c017;
    border-radius: 4px;
    letter-spacing: 2px;
}
.oil-modal,
.goods-modal {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background: rgba(0,0,0,.4);
    display: none;
}
.oil-modal .oil-modal-box,
.goods-modal .goods-modal-box {
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
.oil-modal-con {
    width: 260px;
    background: #fff;
    border-radius: 5px;
}
.oil-modal-title,
.goods-modal-title {
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    color: #333;
    border-bottom: 1px solid #dfdfe0;
}
.oil-modal-con .oil-m-item {
    text-align: center;
    font-size: 16px;
    color: #666;
    height: 44px;
    line-height: 44px;
    border-top: 1px solid #dfdfe0;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
    .oil-modal-title {
        border-bottom: 0.5px solid #dfdfe0;
    }
    .oil-modal-con .oil-m-item {
        border-top: 0.5px solid #dfdfe0;
    }
}
.oil-m-item.active {
    background: #ccc;
}
.oil-modal-con .oil-m-item:first-child {
    border-top: none;
}
.oil-btn-tabs,
.goods-btn-tabs {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    height: 44px;
    font-size: 16px;
    border-top: 1px solid #dfdfe0;
}
.goods-btn-ok {
    width: 100%;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-family: SimHei;
    background: #19c017;
    color: #fff;
    font-size: 16px;
    letter-spacing: 3px;
}
.oil-btn-tabs div {
    -webkit-flex: 1;
    flex: 1;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-family: SimHei;
}
.oil-btn-tabs .oil-btn-cancel {
    color: #f54545;
    border-right: 1px solid #dfdfe0;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .oil-btn-tabs {
        border-top: 0.5px solid #dfdfe0;
    }
    .oil-btn-tabs .oil-btn-cancel {
        border-right: 0.5px solid #dfdfe0;
    }
}
.success {
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}
.success-con .txt {
    margin-top: 15px;
    color: #333;
    font-size: 18px;
}
.success-con .btn {
    margin-top: 30px;
    width: 80%;
    background: #19c017;
    color: #fff;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
}
.success-con .btn2 {
    margin-top: 30px;
    width: 80%;
    color: #333;
    border: 1px solid #dfdfe0;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
}
.success-con {
    display: none;
    width: 100%;
    background: #fff;
}
.goods-modal-con {
    width: 100%;
    background: #fff;
    border-radius: 5px;
}
.goods-modal ul {
    max-height: 400px;
    overflow: scroll;
}
.goods-modal .goods-item {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
    padding: 10px 10px;
    border-bottom: 1px solid #dfdfe0;
}
.g-name {
    width: 200px;
    max-height: 40px;
    line-height: 20px;
    overflow: hidden;
    color: #838383;
}
.g-p-info {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}
.g-count {
    color: #aaa;
}
.g-count em {
    margin-left: 8px;
    color: #333;
}
.g-money {
    margin-left: 15px;
    color: #f54545;
}
.total-con {
    display: -webkit-flex;
    -webkit-justify-content: flex-end;
    -webkit-align-items: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 36px;
    padding: 0 10px;
    border-top: 1px solid #dfdfe0;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) {
    .goods-modal .goods-item {
        border-bottom: 0.5px solid #dfdfe0;
    }
    .total-con {
        border-top: 0.5px solid #dfdfe0;
    }
}
.goods-item:last-child {
    border-bottom: none;
}
.total-con span {
    color: #333;
}
.total-con i {
    margin-left: 15px;
    color: #f00;
}