.fail-wrapper {
    display: none;
}
.had-pay-wrapper {
    /*display: none;*/
}
.had-pay-panel,
.fail-panel {
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 16px;
}
.had-pay-panel > p,
.fail-panel > p {
    margin-top: 24px;
    margin-bottom: 20px;
}
.had-pay-panel > i,
.fail-panel > i {
    color: #838383;
    text-align: center;
}

.success-wrapper {
    display: none;
}
.success-panel {
    padding-top: 24px;
    background: #fff;
}
.pay-title {
    font-size: 16px;
    text-align: center;
    color: #000;
}
.pay-info {
    margin-top: 20px;
    padding: 0 15px;
    border-top: 1px solid #dfdfe0;
    font-size: 15px;
}
.pay-info p {
    height: 36px;
    display: flex;
    align-items: center;
}
.pay-info > p > i {
    margin-right: 8px;
    color: #838383;
}
.total-count,
.had-pay-count {
    color: #ff793f;
    font-weight: bold;
}
.pay-count {
    font-weight: bold;
    color: #f23030;
}
p.remark {
    font-size: 14px;
    height: 60px;
}
.pay-btn-panel {
    padding: 20px 15px;
}
.pay-btn-panel > p {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
}
.wx-pay {
    background: #19c017;
    color: #fff;
}
.idcard-pay {
    margin-top: 20px;
    background: #d8daff;
    color: #7a87c8;
}
.had-pay-btn {
    padding: 20px;
}
.had-pay-btn > p {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    background: #19c017;
    color: #fff;
}

.keyboard-modal {
    position: fixed;
    z-index: 200;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: none;
}
table {
    border-collapse: collapse;
}
.keyboard-container {
    position: fixed;
    z-index: 888;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    text-align: center;
}
.keyboard-container .pwd-con {
    height: 50%;
    background: #fff;
}
.pwd-con .tip-tx {
    height: 50px;
    line-height: 50px;
    font-size: 20px;
    border-bottom: 1px solid #dfdfe0;
}
.pwd-con .pwd-tabs {
    display: -webkit-flex;
    -webkit-justify-content: center;
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.pwd-tabs ol {
    border: 1px solid #dfdfe0;
}
.pwd-tabs .pwd {
    float: left;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
    font-size: 30px;
    border-right: 1px solid #dfdfe0;
}
.pwd-tabs .pwd:last-child {
    border-right: none;
}
.keyboard-container table {
    width: 100%;
    height: 50%;
}
.keyboard-container td {
    width: 33.3%;
    height: 25%;
    border: 1px solid #dfdfe0;
    background: #fff;
}
.keyboard-container .none-left-border {
    border-left: none;
}
.keyboard-container .none-right-border {
    border-right: none;
}
.keyboard-container .none-bottom-border {
    border-bottom: none;
}
.keyboard-container .del-icon {
    border-right: none;
    background: #e2e7eb;
}
.keyboard-container .del-icon .icon {
    display: inline-block;
    vertical-align: middle;
}
.keyboard-container .num {
    font-size: 28px;
}
.keyboard-container .cancel-pay {
    background: #e2e7eb;
    font-size: 18px;
}