body {
    background: #fff;
}
.tx-wrapper {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.tx-wrapper div {
    color: #666;
}
.tx-wrapper p {
    color: #ff793f;
    padding: 6px 0;
}
.common-number {
    display: none;
}
.special-input-wrapper {
    height: 54px;
    padding: 0 15px;
    display: none;
}
.input-wrapper {
    height: 54px;
    padding: 0 15px;
}
.input-wrapper > div {
    height: 100%;
    border: 1px solid #dfdfe0;
    display: flex;
    align-items: center;
}
.input-wrapper span {
    flex: 0 0 66px;
    width: 66px;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    color: #ff793f;
    border-right: 1px solid #efeff4;
    text-align: center;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
    .input-wrapper span {
        border-right: 0.5px solid #efeff4;
    }
}
.special-input-wrapper input {
    width: 100%;
    padding-left: 20px;
    height: 100%;
    font-size: 18px;
    border: 1px solid #dfdfe0;
}
.input-wrapper input {
    flex: 1;
    border: none;
    padding-left: 20px;
    height: 36px;
    font-size: 18px;
}
.special-input-wrapper input::-webkit-input-placeholder,
.input-wrapper input::-webkit-input-placeholder {
    color: #aaa;
}
.special-input-wrapper {

}
.next-btn-wrapper {
    margin-top: 30px;
    height: 46px;
    padding: 0 15px;
}
.next-btn-wrapper > p {
    border-radius: 4px;
    background: #19c017;
    height: 46px;
    line-height: 46px;
    color: #fff;
    font-size: 18px;
    text-align: center;
}
.car-history-wrapper {
    padding: 30px 15px;
}
.history-tx {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.history-con {
    margin-top: 10px;
}
.history-con .car {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    padding: 0 14px;
    background: #f6f6f6;
}
.modal-wrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: none;
}
.provice-con-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.place-box {
    flex: 1;
}
.provice-con {
    background: #fff;
    flex: 0 0 240px;
    height: 240px;
}
.provice-con p {
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    color: #ff793f;
}
.provice-item-con {
    border-top: 1px solid #dfdfe0;
    display: flex;
}
.provice-item {
    flex: 1;
    height: 46px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid #dfdfe0;
}
.provice-item-con .provice-item:last-child {
    border-right: none;
}