.fail-wrapper {
    display: none;
}
.had-pay-wrapper {
    /*display: none;*/
}
.had-pay-panel,
.fail-panel {
    background: #fff;
    display: -webkit-flex;
-webkit-flex-direction: column;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 16px;
}
.had-pay-panel > p,
.fail-panel > p {
    margin-top: 24px;
    margin-bottom: 20px;
}
.had-pay-panel > i,
.fail-panel > i {
    color: #838383;
    text-align: center;
}

.success-wrapper {
    display: none;
}
.success-panel {
    padding-top: 24px;
    background: #fff;
}
.pay-title {
    font-size: 16px;
    text-align: center;
    color: #000;
}
.pay-info {
    margin-top: 20px;
    padding: 0 15px;
    border-top: 1px solid #dfdfe0;
    font-size: 15px;
}
.pay-info p {
    height: 36px;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}
.pay-info > p > i {
    margin-right: 8px;
    color: #838383;
}
.total-count,
.had-pay-count {
    color: #ff793f;
    font-weight: bold;
}
.pay-count {
    font-weight: bold;
    color: #f23030;
}
p.remark {
    font-size: 14px;
    height: 60px;
}
.pay-btn-panel {
    padding: 20px 15px;
}
.pay-btn-panel > p {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border-radius: 4px;
}
.wx-pay {
    background: #19c017;
    color: #fff;
}
.idcard-pay {
    margin-top: 15px;
    background: #d8daff;
    color: #7a87c8;
}
.other-idcard-pay {
    margin-top: 15px;
    background: #d8daff;
    color: #7a87c8;
}
.had-pay-btn {
    padding: 20px;
}
.had-pay-btn > p {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 4px;
    background: #19c017;
    color: #fff;
}
.other-pay-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(10,10,10,.7);
    display: none;
}
.modal-wrapper {
    height: 100%;
    width: 100%;
    padding: 0 15px;
    display: -webkit-flex;
-webkit-justify-content: center;
    -webkit-align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.other-pay-con {
    width: 100%;
    border-radius: 4px;
    background: #fff;
    overflow: hidden;
}
.other-pay-con input {
    background: #efeff4;
    border: none;
    border-radius: 4px;
    padding-left: 4px;
    font-size: 15px;
    height: 36px;
    overflow: hidden;
}
.other-pay-con input::-webkit-input-placeholder {
    color: #838383;
    font-size: 14px;
}
.other-pay-title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #dfdfe0;
    position: relative;
}
.other-pay-title > img {
    position: absolute;
    right: 5px;
    top: 5px;
}
.other-number {
    padding: 0 10px;
    height: 50px;
    display: -webkit-flex;
-webkit-align-items: center;
    display: flex;
    align-items: center;
}
.other-number > i {
    margin-right: 8px;
}
.other-number > input {
}
.other-code {
    padding: 0 10px;
    height: 50px;
    display: -webkit-flex;
-webkit-align-items: center;
    display: flex;
    align-items: center;
    position: relative;
}
.green-btn {
    position: absolute;
    right: 10px;
    top: 9px;
    width: 80px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    background: #19c017;
    color: #fff;
    font-size: 13px;
    border: 1px solid #dfdfe0;
}
.gray-btn {
    position: absolute;
    right: 10px;
    top: 9px;
    width: 90px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    background: #aaa;
    color: #fff;
    font-size: 12px;
    border: 1px solid #dfdfe0;
    display: none;
}
.other-code > i {
    margin-right: 8px;
}
.other-code > input {
    width: 100px;
}
.other-pay-btn {
    border-top: 1px solid #dfdfe0;
    height: 44px;
    line-height: 44px;
    background: #19c017;
    color: #fff;
    font-size: 18px;
    text-align: center;
}