.card-con {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 146px;
    text-shadow: 1px 1px 1px rgba(17,17,17,0.2);
}
.card {
    width: 90%;
    height: 90px;
    background: #3acbb3;
    border-radius: 6px;
    position: relative;
}
.station-con {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 90px;
    color: #fff;
}
.station-con img {
    margin-right: 8px;
    border-radius: 50%;
}
.station-name {
    font-size: 20px;
    font-family: SimHei;
}
.card-type {
    margin-top: 3px;
    font-size: 16px;
}
.box1 {
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-top: 1px solid #dfdfe0;
    border-bottom: 1px solid #dfdfe0;
    height: 44px;
    font-size: 16px;
}
.box1 span {
    color: #838383;
}
.box1 em {
    color: #333;
}
.box2 {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #dfdfe0;
    border-bottom: 1px solid #dfdfe0;
    padding: 0 15px;
    height: 44px;
    font-size: 16px;
}
.box2 span {
    -webkit-flex: 0 0 80px;
    flex: 0 0 80px;
    color: #838383;
    margin-right: 6px;
}
#chongzhi_money {
    -webkit-flex: 1;
    flex: 1;
    font-size: 16px;
    color: #333;
    height: 30px;
    border: none;
    padding-left: 8px;
    background: #fff;
    border-radius: 3px;
}
#place_txt {
    height: 100%;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    color: #999;
    font-size: 14px;
}
#money_count {
    height: 100%;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    color: #333;
    font-size: 14px;
}
.box4 {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    margin-top: 10px;
    border-top: 1px solid #dfdfe0;
    border-bottom: 1px solid #dfdfe0;
    padding: 015px;
    height: 44px;
    font-size: 16px;
}
.box4 span {
    -webkit-flex: 0 0 80px;
    flex: 0 0 80px;
    margin-right: 6px;
    color: #838383;
}
.box3 p {
    padding: 5px 15px 0 15px;
    font-size: 12px;
    color: #838383;
}
.box3 p i {
    color: #f54545;
}
.huodong-list {
    height: 140px;
    padding: 0 30px;
    font-size: 12px;
    overflow: scroll;
    display: none;
}
.huodong-list .huodong {
    padding: 0 6px;
    background: #efefef;
    height: 20px;
    line-height: 20px;
    color: #888;
}
.bot {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: #fff;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
}
button {
    border: none;
    outline-style: none;
}
.chongzhi-btn {
    width: 88%;
    font-size: 18px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    background: #19c017;
}

.keyboard-modal {
    position: fixed;
    z-index: 200;
    height: 230px;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(0,0,0,0.6);
    display: none;
}
table {
    border-collapse: collapse;
}
.keyboard-container {
    height: 200px;
}
.keyboard-container table {
    height: 100%;
    width: 100%;
}
.keyboard-container td {
    width: 33.3%;
    height: 25%;
    border: 1px solid #dfdfe0;
    background: #fff;
    text-align: center;
}
.keyboard-container .none-left-border {
    border-left: none;
}
.keyboard-container .none-right-border {
    border-right: none;
}
.keyboard-container .none-bottom-border {
    border-bottom: none;
}
.keyboard-container .del-icon {
    border-right: none;
    background: #e2e7eb;
}
.keyboard-container .del-icon .icon {
    display: inline-block;
    vertical-align: middle;
}
.keyboard-container .num {
    font-size: 28px;
}
.keyboard-container .had-done {
    background: #e2e7eb;
    font-size: 18px;
}
.key-hide-con {
    background: #fff;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 30px;
    color: #1296db;
}
.key-hide-con > span {
    margin-right: 5px;
}