.card-con {
    height: 246px;
    display: -webkit-flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px 1px rgba(17,17,17,0.2);
}
.card {
    width: 90%;
    height: 188px;
    background: #3acbb3;
    border-radius: 6px;
    position: relative;
}
.station-con {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    padding-left: 20px;
    height: 90px;
    color: #fff;
}
.station-con .img-con {
    width: 60px;
    height: 60px;
    margin-right: 8px;
    border-radius: 50%;
    overflow: hidden;
}
.station-con img {
    /*margin-right: 8px;*/
    /*border-radius: 50%;*/
}
.station-name {
    font-size: 20px;
    font-family: SimHei;
}
.card-type {
    margin-top: 3px;
    font-size: 16px;
}
.card-id {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 16px;
    color: #fff;
}
.tb {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 46px;
    background: #fff;
    border-top: 1px solid #dfdfe0;
    font-size: 15px;
    color: #666;
}
#jyjl {
    border-bottom: 1px solid #dfdfe0;
}
.tb1 {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
}
.tb1 p {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}
.tb1 p i {
    color: #f54545;
}
.tb1 em {
    margin-left: 4px;
    background: #19c017;
    color: #fff;
    height: 28px;
    line-height: 28px;
    padding: 0 10px;
    font-size: 14px;
    border-radius: 4px;
}
.tb2 {
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    display: flex;
    justify-content: space-between;
}
.tb2 > em {
    font-weight: bold;
    color: #838383;
}

.active-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    display: none;
}
.modal-panel {
    width: 100%;
    height: 100%;
    padding: 0 10px;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
}
.modal-con {
    background: #fff;
    width: 100%;
    border-radius: 4px;
    font-size: 14px;
}
.modal-title {
    height: 44px;
    line-height: 44px;
    text-align: center;
    border-bottom: 1px solid #dfdfe0;
    position: relative;
    font-size: 16px;
}
.modal-title > img {
    position: absolute;
    right: 7px;
    top: 7px;
}
.modal-con > p {
    padding: 3px 8px;
}
.modal-txt1 > i {
    font-weight: bold;
}
.input-con {
    padding: 0 10px;
    height: 50px;
    font-size: 16px;
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center;
    border-top: 1px solid #dfdfe0;
    border-bottom: 1px solid #dfdfe0;
    position: relative;
}
.input-con1 {
    border-bottom: none;
}
.input-con > input {
    margin-left: 6px;
    width: 110px;
    height: 36px;
    border: none;
    padding-left: 4px;
    border-radius: 4px;
    background: #efeff4;
}
.input-con1 > input {
    width: 160px;
}
.green-btn {
    position: absolute;
    right: 10px;
    top: 7px;
    width: 80px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    background: #19c017;
    color: #fff;
    font-size: 13px;
    border: 1px solid #dfdfe0;
}
.gray-btn {
    position: absolute;
    right: 10px;
    top: 7px;
    width: 90px;
    height: 32px;
    line-height: 32px;
    border-radius: 3px;
    text-align: center;
    background: #aaa;
    color: #fff;
    font-size: 12px;
    border: 1px solid #dfdfe0;
    display: none;
}
.modal-btn {
    margin-top: 10px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #19c017;
    color: #fff;
    font-size: 18px;
}