.input-wrapper {
    background: #fff;
    padding: 0 10px;
}
.p-txt {
    height: 36px;
    display: flex;
    align-items: center;
}
.car-list-con > i,
.p-txt > i {
    margin-right: 8px;
    flex:  0 0 62px;
    width: 62px;
    text-align: right;
}
.p-txt > em {
    flex: 1;
}
.p-txt > input {
    width: 180px;
    height: 30px;
    background: #efeff4;
    border: none;
    padding-left: 4px;
    border-radius: 4px;
}
.p-txt > input::-webkit-input-placeholder {
    color: #aaa;
}
.p-txt > select {
    width: 52px;
    height: 30px;
    border-radius: 4px;
    border-color: #dfdfe0;
    background: #efeff4;
    outline: none;
    font-size: 16px;
    padding-left: 8px;
    margin-right: 4px;
}
.p-txt1 > em {
    color: #ff793f;
}
.car-list-con {
    min-height: 36px;
    display: flex;
    align-items: center;
}
.car-number-list span {
    background: #19c017;
    height: 26px;
    font-size: 13px;
    padding: 0 6px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: #fff;
    float: left;
    margin-right: 6px;
    margin-bottom: 3px;
}
.add-car-btn {
    float: left;
    padding: 0 8px;
    background: #dfdfe0;
    color: #666;
    height: 26px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
}
.add-car-btn > img {
    width: 16px;
    height: 16px;
    margin-right: 6px;
}
.submit-wrapper {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.submit-wrapper i {
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: #19c017;
    color: #fff;
    font-size: 16px;
    width: 88%;
    border-radius: 4px;
}

.car-list-modal {
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: none;
}
.list-modal-title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5){
    .list-modal-title {
        border-bottom-width: 0.5px;
    }
}
.modal-cars {
    padding: 0 15px;
    font-size: 15px;
}
.modal-cars > li {
    height: 38px;
    display: flex;
    align-items: center;
}
.modal-cars > li > input {
    margin-right: 8px;
    height: 24px;
    width: 24px;
}
.add-more-car-btn {
    height: 50px;
    display: flex;
    align-items: left;
    justify-content: center;
}
.add-more-car-btn > i {
    width: 80%;
    height: 30px;
    line-height: 30px;
    background: #efeff4;
    text-align: center;
    border-radius: 4px;
    color: #ff793f;
}
.c-l-m-btn {
    position: absolute;
    width: 100%;
    bottom: 0;
    font-size: 16px;
    border-top: 1px solid #dfdfe0;
    display: flex;
}
@media screen {
    .c-l-m-btn {
        border-top-width: 0.5px;
    }
}
.c-l-m-btn > i {
    height: 40px;
    line-height: 40px;
    flex: 1;
    color: #f23030;
    text-align: center;
}
.c-l-m-btn > em {
    height: 40px;
    line-height: 40px;
    flex: 1;
    background: #19c017;
    color: #fff;
    text-align: center;
}

.add-other-car-modal {
    position: fixed;
    z-index: 66;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0,0,0,.5);
    display: none;
}
.a-o-c-l-c {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-o-con {
    width: 300px;
    background: #fff;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}
.add-o-con > p {
    height: 36px;
    line-height: 36px;
    text-align: center;
    font-size: 16px;
    border-bottom: 1px solid #dfdfe0;
}

@media  screen and (-webkit-min-device-pixel-ratio: 1.5){
    .add-o-con > p {
        border-bottom-width: 0.5px;
    }
}
.add-o-con > img {
    position: absolute;
    right: 8px;
    top: 5px;
}
.number-box {
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.number-box > input {
    width: 100%;
    padding: 6px;
    height: 36px;
    border-radius: 4px;
    background: #f7f7f7;
    border: 1px solid #dfdfe0;
}
.a-o-c-btn {
    background: #19c017;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
    letter-spacing: 2px;
}