.tip-wrapper {
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    background: #ff6648;
    color: #fff;
    font-size: 15px;
}
.tip-wrapper > i {
    margin-left: 6px;
}

.ticket-info-wrapper {
    background: #fff;
}
.start-end {
    height: 34px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-size: 15px;
    color: #000;
}
.start-end > img {
    margin: 0 8px;
}
.ticket-remark {
    padding: 0 10px;
    font-size: 14px;
    color: #999;
}
.ticket-remark > i {
    margin-right: 5px;
}